<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/app.css">
    <title>SignUp</title>
</head>
<body>
    <div class="d-flex">
        <div class="bg" style="flex: 1"></div>
        <div class="input-div">
            <h1 class="text-center">SignUp</h1>
            <div class="form-group">
                <input type="text" placeholder="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <input type="password" placeholder="password" class="form-control" id="password">
            </div>
            <input type="button" value="SignUp" class="btn btn-success" onClick="signUp()" />
            <p>Go To SignIn Page <a href="/">SignIn</a></p>
        </div>
    </div>

    <script src="/js/signup.js"></script>
</body>
</html>